.logout-button {
    padding: 10px 15px;
    border: 1px solid #f0d9de;
    border-radius: 10px;
    background: var(--dangerbg);
    color: var(--danger-color);

    font-size: 14px;
    font-weight: 700;

    cursor: pointer;

    transition: var(--transition-fast);
}

.logout-button:hover {
    opacity: .9;
}
