.profile-stat-card {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.profile-stat-card h2 {
    font-size: 48px;
    font-weight: 700;
}

.profile-stat-card h3 {
    font-size: 28px;
}

.profile-stat-card p {
    color: var(--text-secondary-color);
}
